<div class="palm-page-header multi-line">
    <div class="header-icon checkmate"></div>
    <div class="header-text">
        <span x-mojo-loc=''>Check Mate</span>
    </div>
</div>

<div id="showTaskList" name="showTaskList" style="display:none">
    <div class="palm-group">
        <div class="palm-group-title"><span x-mojo-loc='' id="spnNotation">Task List</span></div>
        <div id="taskList" x-mojo-element="List" style="padding: 1px;margin:-12px;"></div>
    </div>
</div>

<div id="divSpinnerContainer" style="width: 130px;margin-left: auto;margin-right: auto; align-items: center;">
    <div x-mojo-element="Spinner" class="spinnerClass" id="workingSpinner" name="workingSpinner"></div>
</div>