<div class="palm-page-header">
    <div class="header-icon checkmate"></div>
    <div class="header-text">
        <span x-mojo-loc=''>Check Mate - New User</span>
    </div>
</div>

<div class="palm-group">
    <div class="palm-group-title">
        <span x-mojo-loc=''>Terms and Conditions (Scroll)</span>
    </div>
    <div x-mojo-element="Scroller" class="scrollerClass" id="scrollTnC" name="scrollTnC" style="height:200px;margin:-15px 10px 10px -15px;padding:0px;">
        <div id="divTnC">
            Loading Terms and Conditions
        </div>
        <div x-mojo-element="Button" id="btnAgree" name="btnAgree" style="margin-left: 20%; margin-right:14%"></div>
    </div>
</div>

<div class="palm-group" id="divCredentials" style="display:none">
    <div class="palm-group-title">
        <span x-mojo-loc=''>Credentials</span>
    </div>

    <div class="palm-list">

        <div class="palm-row first">
            <div class="palm-row-wrapper">
                <div id="divChessMove" style="float:right; margin: 10px 14px;">Your Chess Move</div>
                <div class="title " style="margin-left: -4px; float:left; "><span class="label ">Chess Move</span></div>
            </div>
        </div>

        <div class="palm-row">
            <div class="palm-row-wrapper">
                <div id="divGrandmaster" style="float:right; margin: 10px 14px;">Your Grandmaster</div>
                <div class="title " style="margin-left: -4px; float:left; "><span class="label ">Grandmaster</span></div>
            </div>
        </div>
        <div class="palm-row last">
            <div class="palm-row-wrapper">
                <div id="divGrandmaster" style="margin:14px 14px -10px 14px; padding: 0px">
                    <center><span style="font-style: italic;font-size: smaller;">Write this information down! It won't appear again!</span></center>
                </div>
            </div>
        </div>

    </div>

</div>
<div x-mojo-element="Button" id="btnCancel" name="btnCancel"></div>
<div x-mojo-element="Button" id="btnOK" name="btnOK" style="display: none;"></div>