<div class="palm-dialog-content">
    <div class="palm-dialog-title" id="divEditTitle">
        Edit Task
    </div>
    <div class="palm-dialog-seperator"></div>

    <div class="textfield-group" x-mojo-focus-highlight="true">
        <div class="title">
            <div id="txtTaskTitle" name="txtTaskTitle" x-mojo-element="TextField" title="TaskTitle"></div>
        </div>
    </div>

    <div class="textfield-group" x-mojo-focus-highlight="true">
        <div class="title">
            <div id="txtTaskNotes" name="txtTaskNotes" x-mojo-element="TextField" title="TaskNotes"></div>
        </div>
    </div>

    <div class="palm-group" id="addressError" style="display:none" name="addressError">
        <div class="palm-group-title"><span style="color:white">Error</span></div>
        <div class="hueerror">
            The Service end point is not reachable, not responding, or is not valid.
        </div>
    </div>

    <div class="palm-dialog-buttons">
        <div x-mojo-element="Button" id="goButton"></div>
        <div x-mojo-element="Button" id="cancelButton"></div>
    </div>

</div>