/* TODO: put your application-specific CSS here */

.palm-page-header .header-icon.checkmate {
    background: url(../icon-minimal.png) no-repeat;
    background-size: 32px 32px;
}

.palm-dark .header-text {
    color:lightgray !important;
}

.task-title.new {
    color: dimgray;
    font-style: italic;
}

.task-row {
    padding: 8px 0px 8px 8px;
}

.checkmark {
    float: right;
    visibility: visible;
    opacity: 0.1;
    margin-top: 3px;
    width: 30px;
}

.checkmark.true {
    opacity: 1;
    visibility: visible;
}

.explanation-text {
    margin-top: -5px;
    padding: 14px;
    font-size: 14px;
    color: #000;
}

.palm-dark .explanation-text {
    color: lightgray;
}

.palm-group-title.detail {
    color: #000;
    margin-left: -4px;
}

.palm-row-wrapper.detail {
    padding: 3px;
}